._project-Container {
    width: 100%;
    min-height: 100dvh;
    padding: 1rem;
    text-align: center;
}

._project-Container div h1 {
    width: fit-content;
    font-size: 1.8rem;
    padding: 0px 1rem;
    text-transform: uppercase;
    border: 1.02px solid #D8E8FF;
    -webkit-text-stroke: 1.02px #D8E8FF;
    margin: 0 auto;
}

._projects-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

._projects-list ._project-box {
    width: calc(100% - 40px);
    max-width: 400px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: 1.02px solid #ffffff;
}

._projects-list ._project-box img {
    object-fit: cover;
    width: 100%;
    height: calc(100dvh - 70dvh);
    border-radius: 8px 8px 0 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

._projects-list ._project-box .visit {
    margin-top: 1rem;
}

._projects-list ._project-box .visit a {
    color: rgb(120, 120, 210);
}

._projects-list ._project-box .visit a:hover {
    text-decoration: underline;
}

._projects-list ._project-box ._project-Description {
    padding: 10px 20px 10px 20px;
}