._Resume {
    height: fit-content;

}

._Resume div h1 {
    border: none !important;
    animation: fadeInOut 2s ease-in-out infinite;

}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.3;
    }

    20% {
        opacity: 0.5;
    }

    30% {
        opacity: 0.7;
    }

    40% {
        opacity: 0.8;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0.8;
    }

    70% {
        opacity: 0.7;
    }

    80% {
        opacity: 0.5;
    }

    90% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
    }
}


._resumeShow {
    margin: 0 auto;
    width: 60%;
    height: 150vh;
    background: url('../assets/resumeimg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

